/* Box-Sizing */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Globales */

body {
  margin: 0;
  background: url("../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.cashier-screen {
  display: flex;
  justify-content: center;
  padding: 5rem 6rem;
  height: 100vh;
}

.card {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(54, 187, 232, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 12px;
  box-shadow: inset 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
}

.card .img {
  height: 100px;
  margin-top: 1.6em;
  aspect-ratio: 1;
  border-radius: 30%;
  background: #f2f2f3;
  margin-bottom: 0.4em;
  box-shadow: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
  background: url("../assets/logo.png") top center;
}

.card .info {
  text-align: center;
  margin-top: 3em;
  background: linear-gradient(
    120deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(0, 86, 255, 1) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
}

.card .info > span {
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
}

form {
  display: grid;
  justify-content: center;
}

form p {
  font-size: 1.3em;
  font-weight: bold;
}

.inputBox {
  position: relative;
  width: 250px;
  margin: 1rem 1rem 2rem 1rem;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.7);
  background: rgb(50, 62, 85);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #19e1f0;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(50, 62, 85);
  border-left: 1px solid #19e1f0;
  border-right: 1px solid #19e1f0;
  letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
  background: #19e1f0;
  color: rgb(50, 62, 85);
  border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #19e1f0;
}

button,
button::after {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 16px;
  background: linear-gradient(45deg, transparent 5%, #3b7cf5 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #19e1f0;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "LogIn";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #3b7cf5 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}


.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }

   .suggestion{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 1rem;
   }

   .userData{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
   }

   .saldoLabel{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 1rem;
   }

   .buttons button{
    margin: 2rem;
   }